body {
  margin: 0;
  padding: 0;
}

video {
  width: 90vw;
  height: 30vh;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem2;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
}